@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    62/6, Shiddheswari,<br />
    Circular Road,Shantinagr TSO, Ramna, Dhaka 1217.<br />
    <abbr title="Phone">+8801768868826</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="hasan.authorize@gmail.com">hasan.authorize@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="hasan.authorize@gmail.com">hasan.authorize@gmail.com</a>
</address>